/* * {
    border: 1px solid red;
} */


:root {
    --primary-color: #2DBE5F;
    --dark-color: #060606;
    --offwhite-color: #EBEBEB;
}

/* Overrides */
.bg-dark {
    background-color: var(--dark-color) !important;
}

/* text styles */
.text-offwhite {
    color: rgba(255, 255, 255, .5);

}

/* footer styles */
footer .footer-bottom-section {
    background-color: rgba(255, 255, 255, .08);
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 255, 252);
}

.hadding {
    text-align: center;
    color: teal;
}
.Quick-links ul li a:hover{
    color: white;
}

.count {

    /* border: 1px solid red; */
    height: 50px;
    width: 50px;
    /* margin-left: 80%; */
    text-align: center;
    border-radius: 9px;
    background-color: #d5fdeb;
    /* text-align: end; */
}

.count:hover {
    background-color: rgb(2, 150, 2);
}

.featureCon {
    img {
        background-color: #d5fdeb;
        border-radius: 10px;
    }
}

#hero {
    /* border: 1px solid #2DBE5F; */
    background: linear-gradient(to bottom, white, rgb(246, 255, 252));
    color: black;

    .textCont {
        align-items: center;
    }

    .app-icons img {
        width: 150px;
        margin: 0 10px;
    }
}

.collapse a:hover {
    background-color: #2DBE5F;
    color: black;
    border-radius: 20px;
}