:root {
  --primary-green: #016939;
  --primary-black: #1A161F;
  --primary-font: "Poppins", sans-serif;
}
body {
  padding: clamp(.5rem, 2vw, 2rem);
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}

/* header */
.web-header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  top: clamp(1.5rem, 2.5vw, 4rem);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  backdrop-filter: blur(5px);
  max-width: max-content;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .navigation {
    .navigation-items-container {
      display: flex;
      padding: 0;
      list-style-type: none;
      color: #ffffff;
      margin: 0;
      .navigation-items {
        font-size: clamp(.9rem, 1.5vw, 1rem);
        padding: 0.75rem 1rem;
        border-radius: 2rem;
        &:hover {
          background-color: #ffffff;
          color: var(--primary-green);
          cursor: pointer;
        }
      }
    }
  }
}

/* landing section */
.landing-section {
  background-color: var(--primary-green);
  height: calc(100vh - clamp(2rem, 2vw, 3rem));
  border-radius: clamp(1rem, 2vw, 2rem);
  overflow: hidden;
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    top: -50%;
    transform: scale(1.5);
  }
  .content-area {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 clamp(2rem, 4vw, 5rem);

    .landing-title {
      font-size: clamp(2.25rem, 4.5vw, 4.5rem);
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 0;
      color: #ffffff;

      .highlight {
        color: #eeeeee70;
      }

    }

    .landing-description {
      max-width: 80%;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      color: rgba(255, 255, 255, 0.65);

    }

    .landing-title,.landing-description {
      text-align: center;
    }

    button {
      padding: clamp(.5rem, 1vw, 1rem) clamp(1.5rem, 1.5vw, 2rem);
      border-radius: 2rem;
      border: none;
      font-size: 1rem;
      font-family: var(--primary-font);
      cursor: pointer;
    }
  }

}

/* success story section */
.success-story-section {
  padding: 2rem;
  margin: 2rem 0;
  .success-story {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    .stories {
      display: flex;
      gap: 1rem;
      align-items: center;

      max-width: 35ch;
      .highlight {
        font-size: clamp(1.25rem, 10vw, 3.5rem);
        font-weight: 600;
        color: var(--primary-green);
      }

      .highlight > p,  .story-text {
        margin: 0;
      }

      .story-text {
        margin: 0;
        color: var(--primary-black);
        font-size: clamp(.975rem, 1.5vw, 1.25rem);
      }

      .highlight + .story-text {
        width: 50%;
      }
    }
  }
}

/* feature section */
.feature-section {
  padding: 2rem clamp(2rem, 5vw, 3rem);
  border-radius: 2rem;
  /* background-color: var(--primary-black); */
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: var(--primary-black);
    content: '';
    top: 0;left: 0;
    border-radius: inherit;
    z-index: 1;
  }
  .feature-container {
    color: #ffffff;
    z-index: 2;
    position: relative;
    .feature-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      padding: clamp(1.25rem, 3vw, 1.75rem) 0;

      .section-title, .section-subtitle {
        margin: 0;
      }

      .section-title {
        margin-top: 0;
        font-size: clamp(1.8rem, 5vw, 3rem);
        max-width: 50rem;
      }

      .section-subtitle {
        max-width: 50rem;
        font-size: clamp(1rem, 2vw, 1.325rem);
        opacity: .5;
      }
    }

    .content-container {
      margin-top: 3rem;
      display: grid;
      grid-auto-flow: auto;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;

      .content {
        background-color: #fff;
        border-radius: 1rem;
        color: var(--primary-black);
        padding: 2rem;

        .content-body {
          .feature-title {
            margin: 0;
            font-size: clamp(1.5rem, 2.5vw, 1.75rem);
            +p {
              opacity: .6;
              line-height: 1.4;
            }
          }
        }
        img {
          border-radius: inherit;
        }
      }
    }
  }
}


@media (width <= 30em) {
  .landing-section {
    &::before {
      width: 200%;
      top: -55%;
      left: -50%;

    }
    .content-area {
      align-items: start;
      .landing-title, .landing-description {
        text-align: left;
      }

      .landing-description {
        max-width: unset;

      }
    }

    button {
      margin-top: 1rem;

    }
  }
}

@media (width <= 70em) {
  .feature-section {
    &::before {
      height: 100%;
    }
  }
} 

/*# sourceMappingURL=main.css.map */
